body {
    background-color: #0e0e0e;
    color: white;
    font-family: 'Roboto', sans-serif;
}

div.title {
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0;
}

.header {
    z-index: 1;
    margin-top: 250px;
    display: inline-block;
}

.header .name {
    color: white;
    font-weight: bold;
    font-size: 72px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

.header .subtitle {
    line-height: 1;
    color:white;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

.header .subtitle .emphasis {
    color: #5cb0ff;
}

.title img {
    content: '';
    display: block;
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    z-index: -2;
    opacity: 0.4;
}

.title .img-overlay {
    display: block;
    width: 100%;
    opacity: 0.85;
    left: 0;
    margin-top: 75px;
}

.title .img-overlay polygon {
    fill: #1e374f;
}

.title .toolbar {
    font-size: 20px;
    margin: 150px 200px 0 200px;
    letter-spacing: 0.05em;
}

.title .toolbar a {
    color: white;
}

.title .toolbar a:hover,
.title .toolbar a:active { 
    text-decoration: none;
}

.title .toolbar a:hover {
    color: #5cb0ff;
}

.title div.border {
    width: 100%;
    height: 205px;
}

.about-me div {
    background-color: #333333;
    padding-right: 0;
    padding-left: 0;
}

.about-me div.title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 26px;
    text-transform: uppercase;
}

.about-me div.margin {
    background-color: transparent;
}

.about-me .photos {
    white-space: nowrap;
    display: inline-block;
    height: 250px;
    overflow: hidden;
}

.about-me .photos img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.about-me .description {
    text-align: left;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 300;
}

.blog-triangle div {
    background-color: #333333;
}

.blog-triangle .img-overlay {
    z-index: 0;
    margin-top: -60px;
    display: block;
    width: 100%;
    left: 0;
}

.blog-triangle .img-overlay polygon {
    fill: white;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

.blog-header {
    margin-top: -45px;
}

.blog {
    background-color: white;
    color: #333333;
}

.blog .title {
    text-transform: uppercase;
    font-size: 46px;
    padding: 0;
    font-weight: 500;
}

.blog .heading {
    text-transform: uppercase;
    font-size: 36px;
    padding: 0;
    font-weight: 500;
    line-height: 1;
    display: flex;
}

.blog .heading .decoration {
    width: 6px;
    background-color: #5cb0ff;
    margin-right: 4px;
}

.blog .content {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    padding: 14px 0;
}

.blog .content .decoration {
    width: 90px;
    background-color: #333333;
    margin-left: 8px;
    border-radius: 20px;
}

.blog .second  {
    margin-top: 40px;
}

